body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p-orderlist .p-orderlist-controls{
   display:none 
}
.p-multiselect-panel .p-multiselect-header{
  display: none;
}
.p-inputnumber-input .p-inputtext .p-component .p-filled{
  width: "55px";
}

.p-inputnumber-buttons-stacked .p-inputnumber-input {
width: 55px;
}
